<!DOCTYPE html>
<html>
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title></title>
</head>
<body>
	<div class="container">
		{% if s %}
			<div class="alert alert-success">
				<h2>{{s}}</h2>
			</div>
		{% endif %}

		{% if us %}
			<div class="alert alert-danger">
				<h2>{{us}}</h2>
			</div>
		{% endif %}

      <form action="/login" method="post">
        <h2>Please sign in</h2>
        <label for="inputEmail">Email address</label>
        <input type="email" id="inputEmail" name="email"  placeholder="Email address" required autofocus>
        <label for="inputPassword">Password</label>
        <input type="password" id="inputPassword" name="password"  placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div>
    <footer></footer>
</body>
</html>